[Desktop Entry]
Name=gtk-splitter
Name[en_US.ISO8859-1]=gtk-splitter
Comment=GTK+ File Splitter
Exec=gtk-splitter
Icon=gtk-splitter.png
Terminal=false
MultipleArgs=false
Type=Application
